@model Impulse.DAL.SubCategoryObject
<h4 class="title text-dark">Choose Size</h4>
<div>
    <label class="checkbox-btn">
        <input type="radio" name="choose_22">
        <span class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="auto" data-bs-html="true" title="The tooltip text<br/>Extra text"><h2>S</h2></span>
    </label>
    <label class="checkbox-btn">
        <input type="radio" name="choose_22">
        <span class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="auto" data-bs-html="true" title="The tooltip text<br/>Extra text"><h2>M</h2></span>
    </label>
    <label class="checkbox-btn">
        <input type="radio" name="choose_22">
        <span class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="auto" data-bs-html="true" title="The tooltip text<br/>Extra text"><h2>L</h2></span>
    </label>
    <label class="checkbox-btn">
        <input type="radio" name="choose_22">
        <span class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="auto" data-bs-html="true" title="The tooltip text<br/>Extra text"><h2>X</h2></span>
    </label>
    <label class="checkbox-btn">
        <input type="radio" name="choose_22">
        <span class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="auto" data-bs-html="true" title="The tooltip text<br/>Extra text"><h2>2XL</h2></span>
    </label>
    <label class="checkbox-btn">
        <input type="radio" name="choose_22">
        <span class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="auto" data-bs-html="true" title="The tooltip text<br/>Extra text"><h2>3XL</h2></span>
    </label>
</div>
