@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ErrorPage</title>
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }
    </style>
</head>
<body>
    <div>
        <img src="~/assets2/images/items/ErrorPageImage.png" style="width: 100%;height:100%"/>
    </div>
</body>
</html>
